<div class="cartblock col-12 col-lg-6 d-flex justify-content-between mb-4" :class="{light: light}">
    <div class="left d-flex justify-content-between align-items-center ">
        <div class="dish_id me-3">
            <h2 class="mb-0">{{dishes_item.id}}</h2>
        </div>
        <div class="title flex-grow-1 me-3">
            <p class="mb-0">{{$t(`dishes.${dishes_item.id}.chi_name`)}}</p>
            <p class="mb-0 " v-if="lang !== 'ch'">{{$t(`dishes.${dishes_item.id}.dishes_name`)}}</p>
            <p class="mb-0" v-else>{{ dishes_item.eng_name }}</p>
        </div>
        <div class="hot">
            <p class="mb-0 dishes_hot">{{$tc('cart.chi_hot', hot)}}</p>
            <p class="mb-0 dishes_hot" v-if="lang !== 'ch'">{{$tc('dishes_element.order_arr', hot)}}</p>
        </div>
    </div>
    <div class="num_section d-flex justify-content-between  align-items-center" :class="{disabled: playing}">
        <div class="num_toogle d-flex justify-content-between align-items-center">
            <div class="numblock" @click="toggleNum('minus')">
                <img src="../../assets/MenuList/minus.png" alt="minus" class="w-100">
            </div>
            <div class="num ms-2 me-2">
                <h2 class="mb-0 ms-1 me-1">{{item.num}}</h2>
            </div>
            <div class="numblock" @click="toggleNum('plus')">
                <img src="../../assets/MenuList/plus.png" alt="add" class="w-100">
            </div>
        </div>
        <div class="trash" @click="deleteCart">
            <img src="../../assets/Cart/trash.png" class="w-100">
        </div>
    </div>

</div>