<div class="footer w-100 d-flex justify-content-center align-items-center mt-5">
    <div class="foot_block d-flex flex-column justify-content-center">
        <div class="logo p-2">
            <img src="../../assets/Footer/logo.png" alt="logo" class="w-100">
        </div>
        <div class="links d-flex justify-content-between ps-3 pe-3">
            <a href="https://www.facebook.com/ScanYourStirFries/" class="link">
                <img src="../../assets/Footer/FB.png" class="w-100">
            </a>
            <a href="https://www.instagram.com/scanyourstirfries5/?hl=zh-tw" class="link">
                <img src="../../assets/Footer/IG.png" class="w-100">
            </a>
            <a href="mailto: scanyourstirfries5@gmail.com" class="link">
                <img src="../../assets/Footer/Mail.png" class="w-100">
            </a>
        </div>
    </div>
</div>