.oreder_content{
    z-index: 5;
}

.big_button {
    width: 250px;
    height: 250px;
}

/* .big_button .orange {
    background-color: #ffc58f;
} */

.big_button .order_ani_title {
    letter-spacing: 1.2px;
    font-weight: bold;
    font-size: 3rem;
    pointer-events: none;
}

.big_button .orange svg {
    width: 100%;
    margin-top: -30px;
    cursor: pointer;
}

.warn {
    text-align: center;
    display: block;
    color: rgb(230, 54, 54);
}

.hot_section .hot_item {
    width: calc(100% / 3);
}

.hot_section .hot_item p {
    font-weight: bolder;
}

.hot_section .item_pic {
    width: 50px;
    margin-bottom: 5px;
    cursor: pointer;
}

.orange_line {
    height: 2px;
    border-radius: 5px;
    background-color: #FF7A00;
}

.order_title {
    font-size: 25px;
}

.hotinput:hover~label {
    filter: brightness(0.95);
}

.hotinput:checked~label {
    filter: hue-rotate(134deg);
}

.cart_item{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition-timing-function: linear;
    z-index: 1040;
}

.cart_ball{
    opacity: 0;
    width: 60px;
    height: 60px;
    background-color: #FF7A00;
    border-radius: 50%;
    transition-timing-function: cubic-bezier(.55,0,.85,.36);
}

.cart_item.ani{
    transition: .5s;
}

.cart_item.ani .cart_ball{
    transition: .5s;
    animation: fly .6s forwards;
}


@keyframes fly{
    0%{
        opacity: 1;
        transform: scale(0);
    }
    20%{
        opacity: 1;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 1;
        transform: scale(0);
    }
}


@media (max-width: 576px) {
    .hot_section .hot_item p {
        font-size: 12px;
    }

    .order_title {
        font-size: 20px;
    }

    .text_section p {
        font-size: 14px;
    }
}