<div class="home">
    <div class="top_section">
        <div class="container d-flex">
            <div class="row w-100">
                <div class="col-12 col-lg-6 left d-flex flex-column justify-content-center">
                    <div class="logo_img">
                        <img src="../../assets/Home/logo.gif" alt="logo" class="w-100">
                    </div>
                    <div class="top_text">
                        <p>It is an online menu that is designed to help foreigners
                            to order in local restaurants in Taiwan.</p>
                    </div>
                    <div class="top_button_section">
                        <button class="top_btn">Visitors</button>
                        <button class="top_btn">Restaurants</button>
                    </div>
                </div>
                <div class="col-12 col-lg-6 right position-relative">
                        <div class="hold_item position-absolute">
                            <div class="back_img position-absolute ">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 694 694" class="w-100">
                                    <circle id="green_ball" cx="347" cy="347" r="347" fill="#5cc9a7"/>
                                  </svg>
                            </div>
                            <div class="boss-img">
                                <img src="../../assets/Home/boss.png" alt="boss" class="h-100">
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>