<div class="home">
    <div class="top_section" ref="top_section">
        <div class="container">
            <div class="row w-100 position-relative m-0">
                <div class="col-12 col-lg-6 left d-flex flex-column justify-content-lg-center justify-content-between ps-2">
                    <div class="logo_img">
                        <img src="../../assets/Home/logo.gif" alt="logo" class="w-100">
                    </div>
                    <div class="top_text">
                        <p>{{ $t("home.top_info") }}</p>
                    </div>
                    <div class="top_button_section pe-2">
                        <button class="top_btn" @click="sectionMove('vistors')">{{ $t("home.visitors") }}</button>
                        <button class="top_btn" @click="sectionMove('boss')">{{ $t("home.restaurants") }}</button>
                    </div>
                </div>
                <div class="col-12 col-lg-6 right position-relative">
                    <div class="hold_item position-absolute">
                        <div class="back_img position-absolute ">
                            <div class="green"></div>
                        </div>
                        <div class="boss-img">
                            <img src="../../assets/Home/boss.png" alt="boss" class="h-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="link_section" ref="link_section">
        <div class="container">
            <div class="row">
                <div class="link-top col-12 col-lg-6">
                    <div class="link_block" data-aos="fade-zoom-in"
                    data-aos-duration="1200">
                        <a class="d-flex align-items-center" href="#">
                            <div class="link_left me-4">
                                <img src="../../assets/NavBar/all dishes.png" class="w-100 show">
                                <img src="../../assets/NavBar/disheschange.gif" class="w-100 hide">
                            </div>
                            <div class="link_right">
                                <h2>{{ $t("home.dishes") }}</h2>
                                <p data-aos="fade-zoom-in"
                data-aos-duration="1200">{{ $t("home.dishes_text") }}</p>
                            </div>
                        </a>
                    </div>
                    <div class="link_block" data-aos="fade-zoom-in"
                    data-aos-duration="1200">
                        <a href="#" class="d-flex align-items-center">
                            <div class="link_left me-4">
                                <img src="../../assets/NavBar/game.png" class="w-100 show">
                                <img src="../../assets/NavBar/gamechange.gif" class="w-100 hide">
                            </div>
                            <div class="link_right">
                                <h2>{{ $t("home.game") }}</h2>
                                <p>{{ $t("home.game_text") }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div
                    class="link_bottom col-12 col-lg-6 position-relative d-flex justify-content-center align-items-end">
                    <div class="toggle_section position-absolute d-flex justify-content-between">
                        <div class="left_toogle" @click="peopleRotate('-')">
                            <img src="../../assets/Home/left.png" class="w-100">
                        </div>
                        <div class="left_toogle" @click="peopleRotate('+')">
                            <img src="../../assets/Home/right.png" class="w-100">
                        </div>
                    </div>
                    <div class="circle">
                        <div class="people_img position-relative" ref="people_img">
                            <img :src="require(`../../assets/Home/${lang}/circle-change.png`)" class="w-100">
                        </div>
                        <div class="back_circle position-absolute" :class="{orange: orange}">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="visitors_section" ref="visitors_section">
        <div class="container">
            <div class="title ps-2 pe-2">
                <h2>{{ $t("home.v_title") }}</h2>
                <p class="m-0">{{ $t("home.v_info") }}</p>
            </div>
            <div class="row comic justify-content-center">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="comic_img mb-3" data-aos="fade-right"
                data-aos-duration="1200">
                        <img class="w-100" src="../../assets/Home/C1.png">
                    </div>
                    <div class="text-section ps-2 pe-2">
                        <p data-aos="fade-zoom-in"
                data-aos-duration="1200">{{ $t("home.v_1") }}</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="comic_img mb-3" data-aos="fade-right"
                data-aos-duration="1200">
                        <img class="w-100" src="../../assets/Home/C2.png">
                    </div>
                    <div class="text-section ps-2 pe-2">
                        <p data-aos="fade-zoom-in"
                data-aos-duration="1200">{{ $t("home.v_2") }}</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="comic_img mb-3" data-aos="fade-right"
                data-aos-duration="1200">
                        <img class="w-100" src="../../assets/Home/C3.png">
                    </div>
                    <div class="text-section ps-2 pe-2">
                        <p data-aos="fade-zoom-in"
                data-aos-duration="1200">{{ $t("home.v_3") }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="boss_section" ref="boss_section">
        <div class="container">
            <div class="title ps-2 pe-2">
                <h2>{{ $t("home.r_title") }}</h2>
                <p class="m-0">{{ $t("home.r_info") }}</p>
            </div>
            <div class="row comic justify-content-center">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="comic_img mb-3" data-aos="fade-right"
                data-aos-duration="1200">
                        <img class="w-100" src="../../assets/Home/R1.png">
                    </div>
                    <div class="text-section ps-2 pe-2">
                        <p data-aos="fade-zoom-in"
                data-aos-duration="1200">{{ $t("home.r_1") }}</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="comic_img mb-3" data-aos="fade-right"
                data-aos-duration="1200">
                        <img class="w-100" src="../../assets/Home/R2.png">
                    </div>
                    <div class="text-section ps-2 pe-2">
                        <p data-aos="fade-zoom-in"
                data-aos-duration="1200">{{ $t("home.r_2") }}</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="comic_img mb-3" data-aos="fade-right"
                data-aos-duration="1200">
                        <img class="w-100" src="../../assets/Home/R3.png">
                    </div>
                    <div class="text-section">
                        <p data-aos="fade-zoom-in"
                data-aos-duration="1200">{{ $t("home.r_3") }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu_section position-relative" ref="menu_section" v-if="lang=='ch'">
        <div class="container">
            <div class="row align-items-center menu_row ms-2">
                <div class="col-12 col-md-5 col-lg-4">
                    <div class="title">
                        <h2>菜單製作</h2>
                        <p>
                            語言：日語/韓語/英語
                            <br>
                            建議：使用電腦進行下載與製作
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8 menu_button">
                    <p>點選製作專屬外文菜單</p>
                    <button>菜單生成頁</button>
                </div>
            </div>
            <div class="yellow_ball position-absolute"></div>
        </div>
    </div>
    <FooterSection ref="foot_section"/>
</div>