.menubuilder{
    margin-top: 100px;
}


.catch{
    opacity: 0;
    position: fixed;
    display: block;
    width: 100%;
    z-index: -1;
    transform: translateZ(0);
}

.canvas_div{
    opacity: 0;
    position: fixed;
    display: block;
    width: 100%;
    z-index: -1;
    transform: translateZ(0);
}



/* 菜單生成區 */
.menu_hold{
    /* width: 2479px;
    height: 3508px; */
    background-color: white;
    position: relative;
}
.top_sectoion{
    background-color: #FFF4E8;
    width: 2479px;
    height: 460px;
    font-size: 30px;
}

.top_sectoion .menu_container{
    padding: 0px 150px;
}

.top_sectoion .first_section .store_name{
    font-size: 55px;
}

.top_sectoion .first_section .first_info{
    margin-top: 25px;
    letter-spacing: 1px;
}

.top_sectoion .middle_intro .middle_title{
    font-size: 35px;
}

.top_sectoion .middle_intro ul{
    list-style: none;
    padding: 0;
    line-height: 55px;
}

.top_sectoion .middle_intro ul li span{
    padding-right: 10px;
}


.top_sectoion .middle_intro .middle_title span{
    padding-right: 5px;
}

.qr_img{
    width: 250px;
}

.dishes_section{
    width: 2479px;
    height: 3048px;
    background-color: white;
}

.dishes_container{
    width: 2479px;
    height: 100%;
    padding: 70px 95px;
}

.dishes_container .dishes_row{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.dishes_container .dishes_item{
    width: calc(2169px / 2);
    margin: 0px 30px;
    padding: 10px 0;
}

.dishes_item .title{
    display: flex;
    align-items: center;
    padding-left: 100px;
    height: 150px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    position: relative;
}

/* .dishes_item .title::before{
    content: "";
    width: calc(2150px / 2);
    height: 1px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 calc(139px / 4);
} */

.dishes_item .title .cate_img{
    width: 150px;
}

.dishes_item .title h2{
    padding-left: 30px;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: bolder;
    margin: 0;
}

.dishes_item .dishes{
    display: flex;
    height: calc(2800px / 12);
    align-items: center;
}

.dishes_item .dishes .num{
    width: 130px;
    position: relative;
}

.dishes_item .dishes .recommend_img{
    width: 90px;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-80%,-50%);
    
}

.dishes_item .dishes .num h3{
    font-size: 40px;
    margin-right: 40px;
}

.dishes_item .dishes .name{
    margin-right: 40px;
    width: 650px;
}

.dishes_item .dishes .name h3{
    font-size: 32px;
}

.dishes_item .dishes .name .ingredient p {
    font-size: 28px;
}

.dishes_item .dishes .box{
    width: 60px;
    height: 60px;
    border: 3px solid black;
}

.dishes_item .dishes .price p{
    font-size: 40px;
    margin: 0;
    padding-left: 30px;
}


.bottom_section{
    position: absolute;
    bottom: 0;
    width: 2479px;
    height: 120px;
    background-color: #FFC832;
}

.bottom_section .bottom_container{
   display: flex;
   justify-content: center;
   width: 100%;
   height: 100%;
}

.bottom_section .logo_img{
    width: 180px;
    margin-right: 20px;
}

.bottom_section  h3{
    margin: 0;
    margin-right: 50px;
    font-size: 25px;
}